          <ul class="nav navbar-nav nav_right">
            <li>
              <a href="/index.html">
                首 页
              </a>
            </li>
            <li>
              <a href="/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="/tags.html">
                标 签
              </a>
            </li>
            <li>
              <a href="/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/faqs.html">
                备 忘
              </a>
            </li>
          </ul>