<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.title }} - {{ site.title }} - {{ site.author }}({{ site.email }})">
    <title>
        {{ page.title }} - {{ site.title }}
    </title>
    <!-- Custom CSS -->
    <link href="/css/blog.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>
</head>
<body>
<div class="row-fluid">
      <div class="collections">
          <div class="span3 left-aside">
              <div class="cover-img" style="background-image: url(http://upload.jianshu.io/daily_images/images/1hsugdeBsjZfBpao453h.jpg)"></div>
              <div class="side-inner">
                  <div class="avatar">
                      <a href="/index.html">
                          <img src="https://avatars0.githubusercontent.com/u/5715581?v=3&s=460"/>
                      </a>
                  </div>
                  <h1>阿wing</h1>
                  <p>阿wing | 学习笔记</p>
              </div>
          </div>
          <div class="offset3 span7">
              {% include navigation.html %}
              <div class="tab-pane active">
                  <ul class="unstyled collections-list">
                      {{ content }}
                  </ul>
              </div>
          </div>
      </div>
</div>
<footer>
    {% include copyright.html %}
</footer>
</body>

</html>
